.grey {
    background: #f4f4f4;  
}
  
.white {
    background: white;  
}

.main-wrapper {
    height: 100vh;  
}

.clock {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100%;  
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.half {
    height: 50%;  
    width: 100%;
    margin: 15px 0;
}

h2{
    font-size: 10em;
}

h3{
    font-size: 5em;
}

h5{
    font-size: 2em;
    padding-top: 5em;
    padding-left: 1em;
}

p{
    padding-left: 1.75em;
    font-size: 1.25em;
}

.btn-circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn{
    margin: 1.5em;
    background-color: #F1D1D1;
    border-color: white;
}

.btn:hover{
    border-color: #f4f4f4;
}

.btn:hover i{ /* Para que cambie el color del i a la vez que se hace el hover */
    color: #333;
}

i{
    font-size: 5em;
    color: #888;
}

.fa-wind{
    font-size: 0.7em;
}

.fa-dog{
    font-size: 1em;
}

.row:first-child .btn{
    margin-top: 7em;
}