.grey {
    background: #CCC;  
}
  
.white {
    background: white;  
}

a{
    color: #666;
}

.nav > li{
    font-size: 1.35em;
}

.nav > li:nth-child(even){
    background-color: #F1D1D1 !important;
}

.col-sm-1, .col-sm-2{
    padding: 1em;
}

.col-sm-3, .col-sm-6{
    padding: 0;
    height: 100vh;
}

.col-sm-6{
    margin: 0;
}

.col-sm-3 > .input-group{
    padding: 1em;
}

.fa-arrow-left{
    font-size: 2em;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: right;
    width: 80%;
    margin-bottom: 0;
}

a:focus, a:hover {
    color: #333;
}